%h1 Switter

%div#left Logged in as #{current_user.email}
%br
%div#left= link_to "Sign out", destroy_user_session_path, :method => :delete
%br
%br

= render 'form'


- @swits.each do |swit|
  %br
  %br

  %b#div #{swit.body}
  %div by: #{swit.author}
  %div id =  #{swit.id}
  %div Comments

  %div= render swit.comments

  - @comment = Comment.new
  - @swit= swit
  - @sweet = Sweet.new

  %div= render 'comments/form', :swit => @swit
  %div= pluralize(swit.sweets.count.to_s, "sweet")
  %div= render 'sweets/form', :swit => @swit
  %div= link_to 'Destroy', swit, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br