= form_for [@swit, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :swit_id, value: swit.id
  .field
    = f.label :"reply:"
    = f.text_field :body
  .field
    = f.hidden_field :author, value: current_user.email

